RFID.Admin/RFIDAdmin.BLL/Service References/AccountsService/AccountsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SaveAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="member" type="tns:AccountEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountEntityDC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Counts" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Branch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveAccountResult" type="tns:AccountEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountByIDResult" type="tns:AccountListEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountListEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountList" type="tns:ArrayOfAccountEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountEntityDC" nillable="true" type="tns:AccountEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllAccountMemberCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccountMemberCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAccountMemberCountResult" type="tns:AccountListEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAccountResult" type="tns:AccountListEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAffilation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AffiliationEntityDC" type="tns:AffiliationEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AffiliationEntityDC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AffiliationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AffiliationName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveAffilationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveAffilationResult" type="tns:AffiliationEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDepertment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentEntityDC" type="tns:DepartmentEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentEntityDC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveDepertmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDepertmentResult" type="tns:DepartmentEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAffiliation">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAffiliationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAffiliationResult" type="tns:AffiliationListEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AffiliationListEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AffiliationList" type="tns:ArrayOfAffiliationEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAffiliationEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AffiliationEntityDC" nillable="true" type="tns:AffiliationEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllDepartment">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDepartmentResult" type="tns:DepartmentListEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentListEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentList" type="tns:ArrayOfDepartmentEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDepartmentEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepartmentEntityDC" nillable="true" type="tns:DepartmentEntityDC" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAccount" />
  </wsdl:message>
  <wsdl:message name="SaveAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountByID" />
  </wsdl:message>
  <wsdl:message name="GetAccountByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountMemberCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAccountMemberCount" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountMemberCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAccountMemberCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAccount" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAccountResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAffilationSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAffilation" />
  </wsdl:message>
  <wsdl:message name="SaveAffilationSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAffilationResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDepertmentSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDepertment" />
  </wsdl:message>
  <wsdl:message name="SaveDepertmentSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDepertmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAffiliationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAffiliation" />
  </wsdl:message>
  <wsdl:message name="GetAllAffiliationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAffiliationResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDepartment" />
  </wsdl:message>
  <wsdl:message name="GetAllDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountsServiceSoap">
    <wsdl:operation name="SaveAccount">
      <wsdl:input message="tns:SaveAccountSoapIn" />
      <wsdl:output message="tns:SaveAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByID">
      <wsdl:input message="tns:GetAccountByIDSoapIn" />
      <wsdl:output message="tns:GetAccountByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountMemberCount">
      <wsdl:input message="tns:GetAllAccountMemberCountSoapIn" />
      <wsdl:output message="tns:GetAllAccountMemberCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccount">
      <wsdl:input message="tns:GetAllAccountSoapIn" />
      <wsdl:output message="tns:GetAllAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAffilation">
      <wsdl:input message="tns:SaveAffilationSoapIn" />
      <wsdl:output message="tns:SaveAffilationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDepertment">
      <wsdl:input message="tns:SaveDepertmentSoapIn" />
      <wsdl:output message="tns:SaveDepertmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAffiliation">
      <wsdl:input message="tns:GetAllAffiliationSoapIn" />
      <wsdl:output message="tns:GetAllAffiliationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <wsdl:input message="tns:GetAllDepartmentSoapIn" />
      <wsdl:output message="tns:GetAllDepartmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountsServiceSoap" type="tns:AccountsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAccount">
      <soap:operation soapAction="http://tempuri.org/SaveAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByID">
      <soap:operation soapAction="http://tempuri.org/GetAccountByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountMemberCount">
      <soap:operation soapAction="http://tempuri.org/GetAllAccountMemberCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccount">
      <soap:operation soapAction="http://tempuri.org/GetAllAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAffilation">
      <soap:operation soapAction="http://tempuri.org/SaveAffilation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDepertment">
      <soap:operation soapAction="http://tempuri.org/SaveDepertment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAffiliation">
      <soap:operation soapAction="http://tempuri.org/GetAllAffiliation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <soap:operation soapAction="http://tempuri.org/GetAllDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountsServiceSoap12" type="tns:AccountsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAccount">
      <soap12:operation soapAction="http://tempuri.org/SaveAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByID">
      <soap12:operation soapAction="http://tempuri.org/GetAccountByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountMemberCount">
      <soap12:operation soapAction="http://tempuri.org/GetAllAccountMemberCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccount">
      <soap12:operation soapAction="http://tempuri.org/GetAllAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAffilation">
      <soap12:operation soapAction="http://tempuri.org/SaveAffilation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDepertment">
      <soap12:operation soapAction="http://tempuri.org/SaveDepertment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAffiliation">
      <soap12:operation soapAction="http://tempuri.org/GetAllAffiliation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartment">
      <soap12:operation soapAction="http://tempuri.org/GetAllDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountsService">
    <wsdl:port name="AccountsServiceSoap" binding="tns:AccountsServiceSoap">
      <soap:address location="http://localhost:64218/AccountsService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountsServiceSoap12" binding="tns:AccountsServiceSoap12">
      <soap12:address location="http://localhost:64218/AccountsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>