RFID.Admin/RFIDAdmin.BLL/Service References/GateTerminalsService/GateTerminalsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SaveGateTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="member" type="tns:GateTerminalEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GateTerminalEntityDC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GateTerminalID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="GateTerminalName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="GateTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GateTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveGateTerminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveGateTerminalResult" type="tns:GateTerminalEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllGateTerminalByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllGateTerminalByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGateTerminalByIDResult" type="tns:GateTerminalListEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GateTerminalListEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GateTerminalList" type="tns:ArrayOfGateTerminalEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGateTerminalEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GateTerminalEntityDC" nillable="true" type="tns:GateTerminalEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllGateType">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGateTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGateTypeResult" type="tns:GateTypeListEntityDC" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GateTypeListEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GateTypeList" type="tns:ArrayOfGateTypeEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGateTypeEntityDC">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GateTypeEntityDC" nillable="true" type="tns:GateTypeEntityDC" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GateTypeEntityDC">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GateTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GateTypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveGateTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:SaveGateTerminal" />
  </wsdl:message>
  <wsdl:message name="SaveGateTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:SaveGateTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGateTerminalByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGateTerminalByID" />
  </wsdl:message>
  <wsdl:message name="GetAllGateTerminalByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGateTerminalByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGateTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGateType" />
  </wsdl:message>
  <wsdl:message name="GetAllGateTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGateTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="GateTerminalsServiceSoap">
    <wsdl:operation name="SaveGateTerminal">
      <wsdl:input message="tns:SaveGateTerminalSoapIn" />
      <wsdl:output message="tns:SaveGateTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGateTerminalByID">
      <wsdl:input message="tns:GetAllGateTerminalByIDSoapIn" />
      <wsdl:output message="tns:GetAllGateTerminalByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGateType">
      <wsdl:input message="tns:GetAllGateTypeSoapIn" />
      <wsdl:output message="tns:GetAllGateTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GateTerminalsServiceSoap" type="tns:GateTerminalsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveGateTerminal">
      <soap:operation soapAction="http://tempuri.org/SaveGateTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGateTerminalByID">
      <soap:operation soapAction="http://tempuri.org/GetAllGateTerminalByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGateType">
      <soap:operation soapAction="http://tempuri.org/GetAllGateType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GateTerminalsServiceSoap12" type="tns:GateTerminalsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveGateTerminal">
      <soap12:operation soapAction="http://tempuri.org/SaveGateTerminal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGateTerminalByID">
      <soap12:operation soapAction="http://tempuri.org/GetAllGateTerminalByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGateType">
      <soap12:operation soapAction="http://tempuri.org/GetAllGateType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GateTerminalsService">
    <wsdl:port name="GateTerminalsServiceSoap" binding="tns:GateTerminalsServiceSoap">
      <soap:address location="http://localhost:64218/GateTerminalsService.asmx" />
    </wsdl:port>
    <wsdl:port name="GateTerminalsServiceSoap12" binding="tns:GateTerminalsServiceSoap12">
      <soap12:address location="http://localhost:64218/GateTerminalsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>